<div class="container-fluid">
    <nav class=" rounded-bottom navbar navbar-expand-lg navbar-dark bg-primary p-2 mb-5">
        <a  class="navbar-brand" [routerLink]="[ '/' ]" routerLinkActive="active">Angular tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="[ '/Fechas' ]" routerLinkActive="active">Fechas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/Formulario' ]" routerLinkActive="active">Formulario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/Formulario-Reactivo' ]" routerLinkActive="active">Formulario Reactivo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>